@using ApartmentReservationWeb.Controllers;
@using ApartmentReservationWeb.Models.ApartmentModel
@model IEnumerable<ApartmentInfo>;

@{
    ViewData["Title"] = "Apartments Page";
    var apartList = (IEnumerable<ApartmentInfo>?)ViewData["apartmentList"];
}
<div class="apartments-page-body">
    <div class="container apartments-page-header justify-content-end d-flex">
        <button class="btn sort-direction-btn">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 384 512">
                <path fill="darkgrey" stroke="black" stroke-width="3" d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z" />
            </svg>
        </button>
        <button class="btn filter-btn">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 512 512">
                <path fill="darkgrey" stroke="black" stroke-width="3" d="M3.9 54.9C10.5 40.9 24.5 32 40 32l432 0c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L320 320.9 320 448c0 12.1-6.8 23.2-17.7 28.6s-23.8 4.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6l0-79.1L9 97.3C-.7 85.4-2.8 68.8 3.9 54.9z" />
            </svg>
        </button>
    </div>
        <hr />
    <div class="container apartments-list flex-wrap">
        @foreach(var apart in apartList ?? Enumerable.Empty<ApartmentInfo>())
        {
            <div class="container apartment-card" value="@apart.Id">
                <img src="@apart.Photos"/>
                <p class="apartment-name">@apart.Name</p>
                <p class="apartment-address">@apart.Address</p>
                <p class="apartment-description">@apart.Description</p>
                <p class="apartment-rooms-beds-guests-info">@apart.RoomsCount, @apart.BedsCount, @apart.GuestsCount</p>
                <div class="apartment-card-footer">
                    <p class="apartment-cost">@apart.Cost</p>
                    <div class="apartment-rate-and-reviews-count">
                        <p class="apartment-rate">@apart.Rate</p>
                        <p class="apartment-reviews-count">@apart.Reviews.Count</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
