@using ApartmentReservationWeb.Models.ApartmentModel;
@model IEnumerable<ApartmentInfo>;

@{
    ViewData["Title"] = "My Apartments List";
    var userAparts = (IEnumerable<ApartmentInfo>?)ViewData["UserApartments"];
}

<h1>My apartments list:</h1>

<p>
    <a class="btn-link" asp-action="Create">Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Photos)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Address)</th>
            <th>@Html.DisplayNameFor(model => model.Cost)</th>
            <th>@Html.DisplayNameFor(model => model.Rate)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var apart in userAparts ?? Enumerable.Empty<ApartmentInfo>()) {
            <tr>
                <td>@Html.DisplayFor(apartProp => apart.Photos)</td>
                <td>@Html.DisplayFor(apartProp => apart.Name)</td>
                <td>@Html.DisplayFor(apartProp => apart.Address)</td>
                <td>@Html.DisplayFor(apartProp => apart.Cost)</td>
                <td>@Html.DisplayFor(apartProp => apart.Rate)</td>
                <td>
                    <a class="btn-link" asp-action="Edit" asp-route-id="@apart.Id">Edit</a>
                    <a class="btn-link" asp-action="Details" asp-route-id="@apart.Id">Details</a>
                    <a class="btn-link" asp-action="Remove" asp-route-id="@apart.Id">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>